@charset "UTF-8";

/*---Font-Transformers---*/
@font-face {
  font-family: "Transformers";
  src: url(font/Optimus.otf) format(opentype), 
  url(font/Optimus\ Bold.otf) format(opentype),
  url(font/Optimus\ Bold\ Italic.otf) format(opentype),
  url(font/Optimus\ Hollow.otf) format(opentype),
  url(font/Optimus\ Hollow\ Italic.otf) format(opentype),
  url(font/Optimus\ Italic.otf) format(opentype);
}

:root {
  --color01:#131a40;
  --color1: #4e64a6;
  --color2: #829fd9;
  --color3: #ffffff;
  --color4: #222222;
  --color5: #000000;
  --color6: #7000fa;
  --color7: #035aa6;
  --color8: #91bbf2;

  --font-principal: "Transformers";
  --font-padrão: "Arial", Helvetica, sans-serif;
}

* {
  font-family: "Transformers";
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  height: 80px;
  width: 100%;
  padding: 10px 25px;
  background-image: linear-gradient(-180deg, var(--color01), var(--color1));
}

.titulo > h1 {
  color: var(--color3);
  font-size: 2.5rem;
}

.menu {
  display: flex;
  gap: 0px 10px;
}

.menu-desktop {
  background-color: transparent;
  border-color: var(--color3);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.menu-desktop > a {
  color: var(--color3);
  padding: 5px;
  font-size: 1.2rem;
  transition: 0.5s;
}

.menu-desktop > a:hover {
  color: var(--color4);
}

main {
  display: flex;
  background-color: var(--color3);
  justify-content: center;
}