@charset "UTF-8";
/*---Font-Transformers---*/
@font-face {
  font-family: "Transformers";
  src: url(font/Optimus.otf) format(opentype), 
  url(font/Optimus\ Bold.otf) format(opentype),
  url(font/Optimus\ Bold\ Italic.otf) format(opentype),
  url(font/Optimus\ Hollow.otf) format(opentype),
  url(font/Optimus\ Hollow\ Italic.otf) format(opentype),
  url(font/Optimus\ Italic.otf) format(opentype);
}

:root {
  --color01:#131a40;
  --color1: #4e64a6;
  --color2: #829fd9;
  --color3: #ffffff;
  --color4: #222222;
  --color5: #000000;
  --color6: #7000fa;
  --color7: #035aa6;
  --color8: #91bbf2;

  --font-principal: "Transformers";
  --font-padrão: "Arial", Helvetica, sans-serif;
}

* {
  font-family: "Transformers";
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color01);
  
}

/*---div-h1---*/
header {
  background-image: linear-gradient(to top, var(--color01), var(--color2));
}

.titulo {
  font-family: "Transformers", Arial, Helvetica, sans-serif;
  font-size: 2.345em;
  padding: 20px;
  height: 100px;
  text-align: center;
  text-shadow: 1px 1px 2px var(--color3);
  color: var(--color4);
  box-shadow: 5px 5px 15px var(--color5);
  border-bottom-left-radius: 1.1px;
  border-bottom-right-radius: 1.1px;
}

.titulo:hover {
  color: var(--color6);
  text-shadow: 5px 5px 10px var(--color5);
}

.menu {
  margin: auto;
  padding-top: 10px;
  background-color: var(--color01);
}

.menu > a {
  color: white;
  padding: 5px;
  margin-left: 8px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: normal;
  font-size: 13.9px;
  transition-duration: 0.5s;

}

.menu a:hover {
  color: var(--color4);
  background-color: var(--color8);
}

/*--Assunto_principal--*/
main {
  min-width: 290px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding-left: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--color2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.453);
}

main p {
  line-height: 25.5px;
  text-indent: 1.2em;
  text-shadow: 2px 2px 3px var(--color4);
  color: var(--color3);
  margin: 10px 0px;
  padding: 10px 11px;
  text-align: justify;
}

.lista {
  text-decoration: none;
 
}
/*--Conf.Intorrogaão--*/
main #inte {
  font-weight: bold;
  font-size: 2em;
}
/*--config text--*/
main h2 {
  text-shadow: 1px 1px 1.1px var(--color3);
  line-height: 25.5px;
  text-indent: 1.2em;
  margin: 10px 0px;
  padding: 10px 11px;
}

.destaque {
  line-height: 35.5px;
  color: var(--color6);
  text-shadow: 1.4px 1.5px 2px var(--color4);
}

/*---link dentro do texto*/
main .links {
  color: var(--color7);
  text-decoration: none;
  text-shadow: 1.4px 1.5px 2px #ffffff;
}

.links:hover {
  background-color: var(--color6);
  color: var(--color5);
  text-shadow:1.4px 1.5px 2px var(--color3);
  border-radius: 3px;
  transition: 0.5s;
  padding: 2px;
}


main strong {
  color: var(--color6);
  text-shadow: 1.4px 1.5px 2px var(--color3);
}

main img {

  width: 96.5%;
 
}
/*---section---*/

.subtitulo {
  padding-bottom: 10px;
  font-family: var(--font-principal);
  text-decoration: none;
  padding: 12px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, var(--color7), var(--color2));
}
.subtitulo > li {
  display: none;
}

.subtitulo:hover > li {
  display: block;
}

li {
  padding: 12px;
  margin: 10;
}

/*-rodapé-*/

#rodapé {
  border-radius: 3px;
  padding-top: 10px;
  margin: auto;
  height: 2.5em;
   background-color: rgb(25, 24, 24);
   color: aliceblue;
    text-align: center;
   font: normal 13px "Transformers"
}

#rodapé:hover {
  color: rgb(34, 34, 34);
  background-color: rgb(112, 0, 250);
  text-shadow: 1px 1px 2px white;
}
